{% extends 'base.html' %}
{% block title %}계정 삭제{% endblock %}
{% block content %}
<div class="flex flex-col justify-center items-center">
    <a href="{% url 'main:home' %}"><div class="font-bold text-3xl">de<span class="text-primary font-black text-4xl">V</span>tail</div></a>
    <p class="text-2xl">Close Your Account</p>
    <form method="post" class="flex flex-col items-center w-full">
        {% csrf_token %}
        <label class="form-control w-full max-w-sm mt-3">
            <div class="label">
                <span class="label-text">Email</span>
            </div>
            <input type="email" name="username" class="input input-bordered w-full max-w-sm email text-xs" value="{{ user.email }}" disabled/>
        </label>
        <label class="form-control w-full max-w-sm mt-3">
            <div class="label">
                <span class="label-text">Password</span>
            </div>
            <input type="password" name="password"
            {% if error_password %}
                class="input input-bordered w-full max-w-sm placeholder:text-red-500 text-xs" style="border-color: #e53e3e;" placeholder="{{ error_password }}"/>
            {% else %}
                class="input input-bordered w-full max-w-sm text-xs" placeholder="Password"/>
            {% endif %}
        </label>
        <button class="btn btn-primary btn-block my-3 max-w-sm">Delete Account</button>
    </form>
</div>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Sign up</button>
</form>
{% endblock %}
