{% extends 'base.html' %}
{% load static %}
{% block title %} 로그인 {% endblock %}
{% block content %}
    <div class="flex flex-col justify-center items-center">
        <a href="{% url 'main:home' %}"><div class="font-bold text-3xl">de<span class="text-primary font-black text-4xl">V</span>tail</div></a>
        <p class="text-2xl">Sign in to Your Account</p>
        <form method="post" class="flex flex-col items-center w-full">
            {% csrf_token %}
            <label class="form-control w-full max-w-sm mt-3">
                <div class="label">
                    <span class="label-text">Email</span>
                </div>
                <input type="email" name="username"
                    {% if error_username %}
                        class="input input-bordered w-full max-w-sm placeholder:text-red-500 email text-xs" style="border-color: #e53e3e;" placeholder="{{ error_username }}"/>
                    {% else %}
                        class="input input-bordered w-full max-w-sm email" placeholder="example@example.com"/>
                    {% endif %}
            </label>
            <label class="form-control w-full max-w-sm mt-3">
                <div class="label">
                    <span class="label-text">Password</span>
                </div>
                <input type="password" name="password"
                {% if error_password %}
                    class="input input-bordered w-full max-w-sm placeholder:text-red-500 text-xs" style="border-color: #e53e3e;" placeholder="{{ error_password }}"/>
                {% else %}
                    class="input input-bordered w-full max-w-sm" placeholder="Password"/>
                {% endif %}
            </label>
            <div class="flex justify-between w-full max-w-sm mt-3">
                <div class="form-control">
                    <label class="label cursor-pointer">
                        <input type="checkbox" class="checkbox mr-2 remember-checkbox"/>
                        <span class="text-xs">Remember me</span> 
                    </label>
                </div>
                <a class="link link-primary text-xs items-center flex justify-center" href="{% url 'accounts:password_reset' %}">
                    <p>Forgot your password?</p>
                </a>
            </div>
            <button class="btn btn-primary btn-block my-3 max-w-sm">Sign In</button>
            <div class="flex text-sm"><p>Don’t have an account?&nbsp;&nbsp;</p><a href="{% url 'accounts:signup' %}" class="link link-primary">Sign up</a></div>
        </form>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'assets/js/login.js' %}"></script>
{% endblock %}