{% extends 'base.html' %}
{% load static %}
{% block title %}비밀번호 찾기{% endblock %}
{% block content %}
<div class="flex flex-col justify-center items-center">
    <a href="{% url 'main:home' %}"><div class="font-bold text-3xl">de<span class="text-primary font-black text-4xl">V</span>tail</div></a>
    <p class="text-2xl">Find Your Password</p>
    <form method="post" class="flex flex-col items-center w-full">
        {% csrf_token %}
        <label class="form-control w-full max-w-xs mt-3">
            <div class="label">
                <span class="label-text">Email</span>
            </div>
            <input type="email" name="email"
                {% if error_email %}
                    class="input input-bordered w-full max-w-xs placeholder:text-red-500 email" style="border-color: #e53e3e;" placeholder="{{ error_username }}"/>
                {% else %}
                    class="input input-bordered w-full max-w-xs email" placeholder="example@example.com"/>
                {% endif %}
        </label>
        <button class="btn btn-primary btn-block my-3 max-w-xs">Email Send</button>
    </form>
</div>
{% endblock %}
