{% extends 'base.html' %}
{% load static %}
{% block title %}비밀번호 변경{% endblock %}
{% block content %}
<div class="flex flex-col justify-center items-center">
    <a href="{% url 'main:home' %}"><div class="font-bold text-3xl">de<span class="text-primary font-black text-4xl">V</span>tail</div></a>
    <p class="text-2xl">Change Your Password</p>
    <form method="post" class="flex flex-col items-center w-full" id="change-form">
        {% csrf_token %}
        <label class="form-control w-full max-w-sm mt-3">
            <div class="label">
                <span class="label-text">Email</span>
            </div>
            <input type="email" name="username" class="input input-bordered w-full max-w-sm email" value="{{ user.email }}" disabled/>
        </label>
        <label class="form-control w-full max-w-sm mt-3">
            <div class="label">
                <span class="label-text">Old Password</span>
            </div>
            <input type="password" name="old_password"
            {% if error_old_password %}
                class="input input-bordered w-full max-w-sm placeholder:text-red-500 text-xs" style="border-color: #e53e3e;" placeholder="{{ error_old_password }}"/>
            {% else %}
                class="input input-bordered w-full max-w-sm text-xs" placeholder="Old Password"/>
            {% endif %}
        </label>
        <label class="form-control w-full max-w-sm mt-3">
            <div class="label">
                <span class="label-text">New Password1</span>
            </div>
            <input type="password" name="new_password1"
            {% if error_new_password1 %}
                class="input input-bordered w-full max-w-sm placeholder:text-red-500 text-xs" style="border-color: #e53e3e;" placeholder="{{ error_new_password1 }}"/>
            {% else %}
                class="input input-bordered w-full max-w-sm text-xs" placeholder="New Password1"/>
            {% endif %}
        </label>
        <label class="form-control w-full max-w-sm mt-3">
            <div class="label">
                <span class="label-text">New Password2</span>
            </div>
            <input type="password" name="new_password2"
            {% if new_password2 %}
                class="input input-bordered w-full max-w-sm placeholder:text-red-500 text-xs" style="border-color: #e53e3e;" placeholder="{{ error_new_password2 }}"/>
            {% else %}
                class="input input-bordered w-full max-w-sm text-xs" placeholder="New Password2"/>
            {% endif %}
        </label>
        <button class="btn btn-primary btn-block mt-3 max-w-sm" id="submit-btn">Change Password</button>
    </form>
</div>
{% endblock %}
