{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="mx-auto w-11/12 px-2 sm:px-6 lg:px-8">
  {% if studies %}
  <form action="" method="GET">
    <label for="study" class="block font-black text-3xl my-4">Study</label>
    <select class="select select-sm" name="study" id="study">
      {% for study in studies %}
      <option value="{{ study.id }}" {% if request.GET.study == study.id|stringformat:"s" %}selected{% endif %}>
        {{ study.title }}
      </option>
      {% endfor %}
    </select>
    <button class="btn btn-sm btn-primary">조회</button>
  </form>
  {% endif %}

  {% include 'todos/countdown.html' %}

  {% if studies %}
    <section>
      <h3 class="font-black text-3xl my-4">Member</h3>
      {% if members %}
      {% for study_members in members.values %}
      <ul class="flex overflow-x-auto gap-2">
        {% with request.GET.copy as params %}
        {% if params.study %}
        <li class="text-center p-2">
          <a href="?study={{ params.study }}&user=all">
          <div class="avatar">
            <div class="w-20 rounded-full shadow-md {% if params.user == 'all' %}ring ring-primary ring-offset-base-100 ring-offset-2{% endif %}">
              {% if member.user.profile_image %}
                <img src="{{ member.user.profile_image }}" alt="프로필 이미지" />
              {% else %}
                <div class="h-full flex justify-center items-center bg-base-100">
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-current w-2/3 h-2/3" viewBox="0 0 448 512">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z" />
                  </svg>
                </div>
              {% endif %}
            </div>
          </div>
          <p>ALL</p>
          </a>
        </li>
        {% else %}
        <li class="text-center p-2">
          <a href="?user=all">
            <div class="avatar">
              <div class="w-20 rounded-full shadow-md {% if params.user == 'all' %}ring ring-primary ring-offset-base-100 ring-offset-2{% endif %}">
                {% if member.user.profile_image %}
                  <img src="{{ member.user.profile_image }}" alt="프로필 이미지" />
                {% else %}
                  <div class="h-full flex justify-center items-center bg-base-100">
                    <svg xmlns="http://www.w3.org/2000/svg" class="fill-current w-2/3 h-2/3" viewBox="0 0 448 512">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z" />
                    </svg>
                  </div>
                {% endif %}
              </div>
            </div>
            <p>ALL</p>
          </a>
        </li>
        {% endif %}
        {% for member in study_members %}
        {% if params.study %}
        <li class="text-center p-2">
          <a href="?study={{ params.study }}&user={{ member.user.id }}">
          <div class="avatar">
            <div class="w-20 rounded-full shadow-md {% if params.user == member.user.id|stringformat:'s' %}ring ring-primary ring-offset-base-100 ring-offset-2{% endif %}">
              {% if member.user.profile_image %}
                <img src="{{ member.user.profile_image }}" alt="프로필 이미지" />
              {% else %}
                <div class="h-full flex justify-center items-center bg-base-100">
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-current w-2/3 h-2/3" viewBox="0 0 448 512">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z" />
                  </svg>
                </div>
              {% endif %}
            </div>
          </div>
          <p>{{ member.user.nickname }}</p>
          </a>
        </li>
        {% else %}
        <li class="text-center p-2">
          <a href="?user={{ member.user.id }}">
            <div class="avatar">
              <div class="w-20 rounded-full shadow-md {% if params.user == member.user.id|stringformat:'s' %}ring ring-primary ring-offset-base-100 ring-offset-2{% endif %}">
              {% if member.user.profile_image %}
                <img src="{{ member.user.profile_image }}" alt="프로필 이미지" />
              {% else %}
                <div class="h-full flex justify-center items-center bg-base-100">
                  <svg xmlns="http://www.w3.org/2000/svg" class="fill-current w-2/3 h-2/3" viewBox="0 0 448 512">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z" />
                  </svg>
                </div>
              {% endif %}
              </div>
            </div>
            <p>{{ member.user.nickname }}</p>
          </a>
        </li>
        {% endif %}
        {% endfor %}
        {% endwith %}
      </ul>
      {% endfor %}
      {% else %}
      <p>멤버가 없습니다.</p>
      {% endif %}
      {% endif %}
    </section>
    
    <section>
      <div class="flex gap-4 items-center my-4">
        <h3 class="font-black text-3xl">ToDo</h3>
        {% if studies %}
        {% if request.GET.study %}
        <button onclick="location.href='{% url "study_todo_create" study_id=request.GET.study %}'" class="btn btn-sm btn-outline btn-primary">+ 추가</button>
        {% else %}
        <button onclick="location.href='{% url "study_todo_create" study_id=1 %}'" class="btn btn-sm btn-outline btn-primary">+ 추가</button>
        {% endif %}
        
        {% else %}
        <button onclick="location.href='{% url "personal_todo_create" %}'" class="btn btn-sm btn-outline btn-primary">+ 추가</button>
        {% endif %}
      </div>
      <ul class="flex flex-col w-full lg:flex-row ">
        <li class="lg:w-1/3 bg-base-200 p-4">
          <h4 class="text-center font-black text-primary text-xl p-2">Todo</h4>
          {% if todos %}
          <ul class="overflow-y-auto h-96 p-1 pt-8">
            {% for todo in todos %}
            {% if todo.status == 'ToDo' %}
            <li class="card bg-base-100 shadow hover:shadow-lg mb-4">
              <div class="card-body p-4">
                <a href="{% url 'todo_detail' todo.id %}" class="link link-hover">
                  <h2 class="card-title">{{ todo.title }}</h2>
                  <p class="truncate">{{ todo.content }}</p>
                </a>
              </div>
              <div class="card-footer p-4 pt-0">
                <div class="flex items-center gap-2">
                  <div class="avatar-group -space-x-6 rtl:space-x-reverse">
                    {% for assignee in todo.todo_assignees.all %}
                    {% if forloop.counter <= 2 %}
                    <div class="avatar shadow-md">
                      <div class="w-8">
                        {% if member.user.profile_image %}
                        <img src="{{ member.user.profile_image }}" alt="프로필 이미지" />
                        {% else %}
                        <div class="h-full flex justify-center items-center bg-base-100">
                          <svg xmlns="http://www.w3.org/2000/svg" class="fill-current w-2/3 h-2/3" viewBox="0 0 448 512">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z" />
                          </svg>
                        </div>
                        {% endif %}
                      </div>
                  </div>
                  {% endif %}
                  {% endfor %}
                  
                  {% if todo.todo_assignees.count > 2 %}
                  <div class="avatar placeholder">
                    <div class="w-8 bg-neutral text-neutral-content">
                      <span>+{{ todo.todo_assignees.count|add:"-2" }}</span>
                    </div>
                  </div>
                  {% endif %}
                  </div>
                  <div class="flex-1">
                    <p class="text-gray-500">
                      {% for assignee in todo.todo_assignees.all %}
                        {% if forloop.counter <= 2 %}
                          {{ assignee.assignee.nickname }}
                          {% if not forloop.last %}, {% endif %} 
                        {% endif %}
                      {% endfor %}
                        {% if todo.todo_assignees.count > 2 %}
                        외 <span class="font-black text-primary">+{{ todo.todo_assignees.count|add:"-2" }}</span>명
                        {% endif %}
                    </p>
                    <p class="text-gray-500">
                      {% if todo.start_at %}
                      {{ todo.start_at|date:"y/m/d H:i" }} ~ {{ todo.end_at|date:"y/m/d H:i" }}
                      {% endif %}
                    </p>
                  </div>
                  <details class="dropdown dropdown-top dropdown-end">
                    <summary tabindex="0" role="button" class="btn btn-ghost m-1"><span class="sr-only">Open
                        options</span>
                      <svg xmlns="http://www.w3.org/2000/svg" transform="rotate(90)" viewBox="0 0 20 20" fill="currentColor"
                        aria-hidden="true" class="w-4 sb">
                        <path
                          d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z">
                        </path>
                      </svg>
                    </summary>
                    <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow-md rounded-box border bg-base-100 w-52">
                      <li>
                        {% if todo.study %}
                        <a href="{% url 'study_todo_edit' study_id=todo.study.id pk=todo.id %}">수정하기</a>
                        {% else %}
                        <a href="{% url 'personal_todo_edit' todo.id %}">수정하기</a>
                        {% endif %}
                      </li>
                      <li><a href="{% url 'todo_delete' todo.id %}">삭제하기</a></li>
                    </ul>
                  </details>
                </div>
              </div>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="lg:w-1/3 bg-base-200 p-4">
          <h4 class="text-center font-black text-primary text-xl p-2">In Progress</h4>
          {% if todos %}
          <ul class="overflow-y-auto h-96 p-1 pt-8">
            {% for todo in todos %}
            {% if todo.status == 'In Progress' %}
            <li class="card bg-base-100 shadow hover:shadow-lg mb-4">
              <div class="card-body p-4">
                <a href="{% url 'todo_detail' todo.id %}" class="link link-hover">
                  <h2 class="card-title">{{ todo.title }}</h2>
                  <p class="truncate">{{ todo.content }}</p>
                </a>
              </div>
              <div class="card-footer p-4 pt-0">
                <div class="flex items-center gap-2">
                  <div class="avatar-group -space-x-6 rtl:space-x-reverse">
                    {% for assignee in todo.todo_assignees.all %}
                    {% if forloop.counter <= 2 %}
                    <div class="avatar shadow-md">
                      <div class="w-8">
                        {% if member.user.profile_image %}
                          <img src="{{ member.user.profile_image }}" alt="프로필 이미지" />
                        {% else %}
                          <div class="h-full flex justify-center items-center bg-base-100">
                            <svg xmlns="http://www.w3.org/2000/svg" class="fill-current w-2/3 h-2/3" viewBox="0 0 448 512">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z" />
                            </svg>
                          </div>
                        {% endif %}
                      </div>
                  </div>
                  {% endif %}
                  {% endfor %}
                  
                  {% if todo.todo_assignees.count > 2 %}
                  <div class="avatar placeholder">
                    <div class="w-8 bg-neutral text-neutral-content">
                      <span>+{{ todo.todo_assignees.count|add:"-2" }}</span>
                    </div>
                  </div>
                  {% endif %}
                  </div>
                  <div class="flex-1">
                    <p class="text-gray-500">
                      {% for assignee in todo.todo_assignees.all %}
                      {% if forloop.counter <= 2 %} {{ assignee.assignee.nickname }} {% if not forloop.last %}, {% endif %} 
                      {% endif %} {% endfor %} {% if todo.todo_assignees.count > 2 %}
                        외 <span class="font-black text-primary">+{{ todo.todo_assignees.count|add:"-2" }}</span>명
                        {% endif %}
                    </p>
                    <p class="text-gray-500">
                      {% if todo.start_at %}
                      {{ todo.start_at|date:"y/m/d H:i" }} ~ {{ todo.end_at|date:"y/m/d H:i" }}
                      {% endif %}
                    </p>
                  </div>
                  <details class="dropdown dropdown-top dropdown-end">
                    <summary tabindex="0" role="button" class="btn btn-ghost m-1"><span class="sr-only">Open
                        options</span>
                      <svg xmlns="http://www.w3.org/2000/svg" transform="rotate(90)" viewBox="0 0 20 20" fill="currentColor"
                        aria-hidden="true" class="w-4 sb">
                        <path
                          d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z">
                        </path>
                      </svg>
                    </summary>
                    <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow-md rounded-box border bg-base-100 w-52">
                      <li>
                        {% if todo.study %}
                        <a href="{% url 'study_todo_edit' study_id=todo.study.id pk=todo.id %}">수정하기</a>
                        {% else %}
                        <a href="{% url 'personal_todo_edit' todo.id %}">수정하기</a>
                        {% endif %}
                      </li>
                      <li><a href="{% url 'todo_delete' todo.id %}">삭제하기</a></li>
                    </ul>
                  </details>
                </div>
              </div>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        <li class="lg:w-1/3 bg-base-200 p-4"> 
          <h4 class="text-center font-black text-primary text-xl p-2">Done</h4>
          {% if todos %}
          <ul class="overflow-y-auto h-96 p-1 pt-8">
            {% for todo in todos %}
            {% if todo.status == 'Done' %}
            <li class="card bg-base-100 shadow hover:shadow-lg mb-4">
              <div class="card-body p-4">
                <a href="{% url 'todo_detail' todo.id %}" class="link link-hover">
                  <h2 class="card-title">{{ todo.title }}</h2>
                  <p class="truncate">{{ todo.content }}</p>
                </a>
              </div>
              <div class="card-footer p-4 pt-0">
                <div class="flex items-center gap-2">
                  <div class="avatar-group -space-x-6 rtl:space-x-reverse">
                    {% for assignee in todo.todo_assignees.all %}
                    {% if forloop.counter <= 2 %}
                    <div class="avatar shadow-md">
                      <div class="w-8">
                        {% if member.user.profile_image %}
                        <img src="{{ member.user.profile_image }}" alt="프로필 이미지" />
                        {% else %}
                        <div class="h-full flex justify-center items-center bg-base-100">
                          <svg xmlns="http://www.w3.org/2000/svg" class="fill-current w-2/3 h-2/3" viewBox="0 0 448 512">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z" />
                          </svg>
                        </div>
                        {% endif %}
                      </div>
                  </div>
                  {% endif %}
                  {% endfor %}
            
                  {% if todo.todo_assignees.count > 2 %}
                  <div class="avatar placeholder">
                    <div class="w-8 bg-neutral text-neutral-content">
                      <span>+{{ todo.todo_assignees.count|add:"-2" }}</span>
                    </div>
                  </div>
                  {% endif %}
                </div>
                <div class="flex-1">
                  <p class="text-gray-500">
                    {% for assignee in todo.todo_assignees.all %}
                    {% if forloop.counter <= 2 %}
                      {{ assignee.assignee.nickname }}
                      {% if not forloop.last %}, {% endif %}
                      {% endif %}
                    {% endfor %}
                    {% if todo.todo_assignees.count > 2 %}
                      외 <span class="font-black text-primary">+{{ todo.todo_assignees.count|add:"-2" }}</span>명
                    {% endif %}
                  </p>
                  <p class="text-gray-500">
                    {% if todo.start_at %}
                    {{ todo.start_at|date:"y/m/d H:i" }} ~ {{ todo.end_at|date:"y/m/d H:i" }}
                    {% endif %}
                  </p>
                </div>
                <details class="dropdown dropdown-top dropdown-end">
                  <summary tabindex="0" role="button" class="btn btn-ghost m-1"><span class="sr-only">Open
                      options</span>
                    <svg xmlns="http://www.w3.org/2000/svg" transform="rotate(90)" viewBox="0 0 20 20" fill="currentColor"
                      aria-hidden="true" class="w-4 sb">
                      <path
                        d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z">
                      </path>
                    </svg>
                  </summary>
                  <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow-md rounded-box border bg-base-100 w-52">
                    <li>
                      {% if todo.study %}
                      <a href="{% url 'study_todo_edit' study_id=todo.study.id pk=todo.id %}">수정하기</a>
                      {% else %}
                      <a href="{% url 'personal_todo_edit' todo.id %}">수정하기</a>
                      {% endif %}
                    </li>
                    <li><a href="{% url 'todo_delete' todo.id %}">삭제하기</a></li>
                  </ul>
                </details>
              </div>
              </div>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
        </li>
      </ul>
    </section>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'assets/js/todo.js' %}"></script>
{% endblock %}