<!DOCTYPE html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DeVtail</title>
    </head>
    <body>
        <h1>가입 신청 리스트</h1>
        {% for studymember in study_members %}
        <div style="display:flex; gap:10px;">
            <span>{{ studymember.user }}</span>
            <form action="{% url 'studies:approve_study_join' studymember.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Approve">
            </form>
            <form action="{% url 'studies:reject_study_join' studymember.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Reject">
            </form>
        </div>
        {% endfor %}
    </body>
</html>
