<!DOCTYPE html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DeVtail</title>
    </head>
    <body>
        <h1>블랙리스트</h1>
        {% for blacklist in blacklist_users %}
        <div style="display:flex; gap:10px;">
            <span>{{ blacklist.user }}</span>
            <form action="{% url 'studies:delete_blacklist_user' study.id blacklist.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="블랙리스트에서 제거">
            </form>
        </div>
        {% endfor %}
        <a href="{% url 'studies:study_detail' study.id %}">스터디 상세 페이지로</a>
    </body>
</html>