<!DOCTYPE html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DeVtail</title>
    </head>
    <body>
    <h1>멤버 관리 리스트</h1>
    {% for studymember in StudyMembers %}
    <div style="display:flex; gap:10px;">
        <span>{{ studymember.user }}</span>
        {% if studymember.is_manager %}
        <span>리더</span>
        {% else %}
        <form action="{% url 'studies:delete_study_member' study.id studymember.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="내보내기">
        </form>
        <form action="{% url 'studies:change_study_manager' study.id studymember.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="is_accepted" value="True">
            <input type="hidden" name="is_manager" value="True">
            <input type="submit" value="리더 위임">
        </form>
        {% endif %}
    </div>
    {% endfor %}

    </body>
</html>
