<!DOCTYPE html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DeVtail</title>
    </head>
    <body>
        <!-- 스터디 상세 페이지 -->
        <h1>Study Detail</h1>
        <h2>스터디 그룹의 리더 : {{ study_leader.user }}</h2>
        <h2>현재 로그인한 사용자 : {{ user }}</h2>
        <h2>{{ study.category }}</h2>
        {% for tag in study.tags.all %}
        <a href="{% url 'studies:study_list' %}?q={{ tag }}">#{{ tag }} </a>
        {% endfor %}
        <h2>{{ study.title }}</h2>
        <img src="{{ study.thumbnail.url }}" alt="{{ study.title }}">
        <p>{{ study.introduce }}</p>
        <p>{{ study.created_at }}</p>
        <p>{{ study.updated_at }}</p>
        
        {% for studymember in study_members %}
        <!-- 스터디 그룹 리더일 경우에만 표시 -->
        {% if user == studymember.user and studymember.is_manager %}
        <form action="{% url 'studies:study_update' study.id %}" method="GET">
            {% csrf_token %}
            <input type="submit" value="수정">
        </form>
        <form action="{% url 'studies:study_delete' study.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="삭제">
        </form>
        <!-- 스터디 그룹 리더만 접속 가능한 가입 신청 리스트 페이지 이동 링크 -->
        <a href="{% url 'studies:study_member_apply_list' study.id %}">가입 신청 리스트</a>
        <a href="{% url 'studies:study_member_list' study.id %}">멤버 관리 리스트</a>
        {% endif %}
        
        <!-- 스터디 그룹 리더가 아닌 기본 스터디 그룹 멤버일 경우에만 표시 -->
        {% if user == studymember.user and not studymember.is_manager %}
        <form action="{% url 'studies:withdraw_study' study.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="스터디 탈퇴">
        </form>
        {% endif %}

        {% endfor %}
        <!-- 현재 유저가 로그인한 유저이고 스터디 멤버가 아닌 경우에만 표시 -->
        {% if user not in study_members %}
        <form action="{% url 'studies:apply_study_join' study.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="가입 신청">
        </form>
        {% endif %}
        

        <a href="{% url 'studies:study_list' %}">목록으로</a>

        <!-- 댓글 리스트 -->
        <h2>Comment List</h2>
        <!-- 댓글 작성 -->
        <form action="{% url 'studies:comment_create' study.id %}" method="POST">
            {% csrf_token %}
            <input name="content" id="">
            <input type="submit" value="Create">
        </form>
        <ul>
            {% for comment in study.comments.all %}
                <li>{{ comment.content }}</li>
                <!-- 댓글 수정 -->
                <form action="{% url 'studies:comment_update' study.id comment.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Update">
                </form>
                <!-- 댓글 삭제 -->
                <form action="{% url 'studies:comment_delete' study.id comment.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Delete">
                </form>
                <!-- 대댓글 작성 -->
                <form action="{% url 'studies:recomment_create' study.id comment.id %}" method="POST">
                    {% csrf_token %}
                    <input name="content" id="">
                    <input type="submit" value="Create">
                </form>
                <!-- 대댓글 리스트 -->
                {% for recomment in comment.recomments.all %}
                    <p>대댓글 : {{ recomment.content }}</p>
                    <!-- 대댓글 수정 -->
                    <form action="{% url 'studies:recomment_update' study.id comment.id recomment.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Update">
                    </form>
                    <!-- 대댓글 삭제 -->
                    <form action="{% url 'studies:recomment_delete' study.id comment.id recomment.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Delete">
                    </form>
                {% endfor %}
            {% endfor %}
        </ul>
        
    </body>
</html>
