<!DOCTYPE html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DeVtail</title>
    </head>
    <body>
        <h1><a href="{% url 'studies:study_list' %}">Study List</a></h1>
        {% for tag in tags %}
            <a href="{% url 'studies:study_list' %}?tq={{ tag }}">#{{ tag }} </a>
        {% endfor %}
        <ul>
            {% for study in studies %}
            <li>
                <div style="display:flex;">
                    <a href="{% url 'studies:study_detail' study.id %}">{{ study.title }}</a>
                    <form action="{% url 'studies:favorite_study_create' study.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="즐겨찾기 추가">
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'studies:study_create' %}">New Study</a>
        <a href="{% url 'studies:my_study_list' %}">My Study List</a>

    </body>
</html>
