{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/css/study/study_form.css' %}">
{% endblock %}
{% block title %}
스터디 생성
{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data" id="study_create_form">
    {% csrf_token %}        
    <div class="flex justify-center gap-36">
        <div class="flex flex-col gap-4 border-2 p-6">
            <label for="thumbnail"><img src="/media/default/study_thumbnail.png" class="h-72" id="thumbnail-add"></label>
            <input type="file" id="thumbnail" name="thumbnail" style="display: none;" accept="image/*" onchange="handleFileSelect(event)">
            <label class="text-lg" for="title">스터디 주제 (50자)</label>
            <input type="text" placeholder="스터디 주제를 입력해주세요." class="input input-bordered w-full" name="title"/>
            <label class="text-lg" for="category">카테고리</label>
            {{ form.category }}
            <label class="text-lg" for="difficulty">난이도</label>
            <div class="flex justify-evenly gap-4">
                {% for difficulty in form.difficulty %}
                {{ difficulty }}
                {% endfor %}
            </div>
            <label class="text-lg" for="max_member">스터디 인원 (4~20명)</label>
            <input type="number" id="max_member" name="max_member" placeholder="스터디 최대 인원을 입력해주세요." class="input input-bordered w-full" min="4" max="20"/>
            <label class="text-lg" for="tags">스터디 검색 태그</label>
            <input type="text" id="tags-input" placeholder="태그를 입력해주세요." class="input input-bordered w-full"/>
            <input type="hidden" name="tags" id="tags">
            <div class="flex" id="tag-container"></div>
            <button id="tags-add" onclick="addTag()"></button>
        </div>

        <div class="flex flex-col gap-4">
            <p class="text-2xl">세부 항목</p>
            <label class="text-lg" for="goal">스터디 목표</label>
            <input type="text" id="tags-input" name="goal" placeholder="스터디 목표를 입력해주세요." class="input input-bordered w-full"/>
            <p class="text-lg">스터디 기간</p>
            <div class="flex gap-4">
                <label for="start_at" class="self-center">시작일</label>
                {{ form.start_at }}
                <label for="end_at" class="self-center">종료일</label>
                {{ form.end_at }}
            </div>
            <label for="days">요일</label>
            <div class="flex flex-wrap gap-4">
                {% for day in form.days %}
                {{ day }}
                {% endfor %}
            </div>
            <p class="text-lg">스터디 시간</p>
            <div class="flex gap-4">
                <label for="start_time"  class="self-center">시작 시간</label>
                {{ form.start_time }}
                <label for="end_time"  class="self-center">종료 시간</label>
                {{ form.end_time }}
            </div>
            <label class="text-lg" for="introduce">스터디 소개</label>
            <textarea class="textarea textarea-bordered resize-none" placeholder="스터디를 소개해주세요." name="introduce"></textarea>
            <label class="text-lg" for="ref_links">참고 링크</label>

            <div id="links-container" class="flex flex-col gap-4">
                <div class="flex gap-4 ref-link-container">
                    <select class="select select-bordered ref-links-type">
                        <option value="none select">링크 타입</option>
                        <option value="google form">구글 폼</option>
                        <option value="book">서적</option>
                        <option value="discord">디스코드</option>
                        <option value="other">기타</option>
                    </select>
                    <input type="text" placeholder="첨부할 url을 입력해주세요." class="input input-bordered w-full ref_links_url"/>
                    <button class="btn btn-square btn-outline del-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
                    </button>
                </div>
            </div>
            <input type="hidden" name="ref_links" id="ref_links">
            <button onclick="handle_ref_links()"></button>
            <button class="btn" id="links_add">링크 추가하기</button>
            <div class="flex justify-end">
                <input type="submit" value="확인" class="border-2 rounded-md py-2 px-4" id="submit_btn">
            </div>
        </div>
    </div>
    
</form>
{% endblock %}
{% block script %}
<script src="{% static 'assets/js/study/study_create_form.js' %}"></script>
{% endblock %}