{% extends "base.html" %}

{% block title %}
500 Internal Server Error
{% endblock %}
{% block content %}
<div class="grid min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8">
  <div class="text-center">
    <p class="text-base font-semibold text-primary">500 - Internal Server Error</p>
    <h1 class="mt-4 text-3xl font-bold tracking-tight sm:text-5xl">문제 있는 페이지입니다</h1>
    <p class="mt-6 text-base leading-7">
      서버에 문제가 생겼습니다.<br>
      해당 문제는 개발자에게 문의해 주세요
    </p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="#" class="text-sm font-semibold" id="backBtn"><span aria-hidden="true">&larr;</span>이전 페이지로</a>
      <a href="{% url 'main:home' %}" class="btn btn-primary">메인 페이지로</a>
    </div>
  </div>
</div>
{% endblock %}