{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}페이지 제목{% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="{% static 'assets/css/base.css' %}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            {% block nav_bar %}{% endblock %}
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </body>
</html>